body {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  .header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 50px;
    background: rgba(0, 0, 0, 0.7);
  }
  .header > ul {
    list-style: none;  
    margin: 0;
    padding-left: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 30px;
  }
  
  .main > section {
    min-height: 100vh;
    padding-top: 70px;
  }
  
  .footer {
    background: #CCC;
    overflow: hidden;
  }
